
.do__themes {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.do__body {
    width: 75%;
    height: 80px;
    background-color: yellow;
    position: absolute;
    top: 12%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}